@media only screen and (max-width: 1300px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height:400px ;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 70%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 55px;
    }
    .v-class-resp{
        opacity: 0;
    }

.box-main{
    flex-direction: column-reverse;
    max-width: 100%;
    
}
.firstSection {
    height: 136vh;
}
.section{
    margin: auto;
    max-width: 90%;
    flex-direction: column-reverse;
    
}
.text-small{
    text-align: center;
}
.text-big{
    text-align: center;
}
.buttons{
    text-align: center;
}
.paras{
    padding: 24px 0;
    
}
.thumbnail{
    padding-top: 30px;
}

}